

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-3 columns">
	<div class= "white">
		<div class="sidetitle">ΥΠΗΡΕΣΙΕΣ:</div></br>
	<% @corporatearticles.each do |article| %>
	<ul class="side-nav">
	  <li><%= link_to_unless_current article.title, article %></li>
	</ul>
	    
	  
	<% end %>
	
	</div>
	<div class= "white-video">
		<iframe src="//player.vimeo.com/video/74273437?title=0&amp;byline=0&amp;portrait=0" width="215" height="220" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	
	</div>
  <div class="large-9 columns">
	<div class= "white">
	<p>	Η Milshield P.C είναι μια νέα και υγιής ιδιωτική επιχείρηση παροχής υπηρεσιών ασφαλείας. Η διοικητική και επιχειρησιακή μας ομάδα που διαφοροποιείται σε σχέση με τον ανταγωνισμό, αποτελείται στο σύνολό της από επαγγελματίες, επίλεκτους, πρώην στρατιωτικούς, αστυνομικούς καθώς και αναγνωρισμένους  στο χώρο της πληροφορικής μηχανικούς. Στην εταιρέια μας  διατηρούμε υψηλό επίπεδο επαγγελματισμού, που σε συνδυασμό με την κοινή μας εταιρική κουλτούρα, για ασφάλεια και ποιότητα της κάθε παρεχόμενης υπηρεσίας, παρέχουμε σε εσάς όχι απροσδόκητα αποτελέσματα, αλλά την προσδοκούμενη ασφάλεια σε όλες τις πτυχές της προσωπικής και επαγγελματικής σας δραστηριότητας...

		Η εταιρεία μας διαθέτοντας αδιαμφισβήτητη τεχνογνωσία στα θέματα φυσικής και ηλεκτρονικής ασφάλειας, που προέρχεται από τους πλέον δυσεύρετους επαγγελματίες του χώρου, διαφοροποιείται από τους ανταγωνιστές τις καθώς είναι σε θέση να  απευθύνεται τόσο σε φυσικά πρόσωπα όσο και  σε εταιρείες, προσφέροντας turn-key & global safety solutions, μετατρέποντας πάσης φύσεως χώρο, φυσικό ή ηλεκτρονικό σε εγκληματικό άβατο.</p>
	</div>
	</div>
</div>

